* {
    margin: 0;
    left: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    --text-color: rgb(92, 92, 92);
}

nav .nav-links.index{
    text-decoration: none;
    color: var(--color-hover);
    border-bottom: var(--color-hover) 3px solid;
}

/* Content */
.top-container{
    background-image: repeating-linear-gradient(63deg,   
    rgba(70, 41, 87),
    rgba(34,45,90,1),
    rgba(245,96,96,1));
    
    background-size: 200%;
    position: relative;
    width: 100%;
    height: 800px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    animation: grad-transition 25000ms infinite alternate;
}

@keyframes grad-transition {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}


.main-text{
    margin-top: 150px;
    margin-left: 100px;
    width: 50%;
    height: 150px;
    /* background: rgba(0, 0, 0, 0.5); */
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 15px;
    /* border: red solid 5px; */

}

.main-text p{  /* Slogan */
    font-size: 2.5rem;
    margin-left: 5%;
    margin-top: 40px;
    font-family: 'Courier Prime', monospace;
}

.typing{
    position: relative;
}

.typing::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 35px;
    border-right: 2px solid white;
    animation: blink 0.9s infinite ease;
}

@keyframes blink{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.drop-down{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    width: 75%;
    margin-left: 75px;    
}

.drop-down-btn{
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 15px;
    border: white solid 2px;
    cursor: pointer;
    margin-top: 15px;
    transform: rotate(-90deg);
    transition: transform 1000ms 250ms, border-radius 500ms, margin-left 1800ms 500ms;
}

.drop-down-btn.active{
    margin-left: 50px;
    transition: transform 1200ms, margin-left 1000ms;
    transform: rotate(90deg);
    
}

.drop-down-btn:hover{
    border-radius: 25px;
}

.drop-down-text p{
    margin-top: 15px;
}

.drop-down-text{
    z-index: -1;
    margin-left: 100px;
    padding: 0;
    height: 80px; 
    width: 0; /* Set to 0*/
    color: rgba(255,255,255,0); /* Set opacity to 0 */
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: all 500ms 500ms, color 500ms, width 1200ms 300ms, padding 1000ms, z-index 100ms 1200ms;
    
}

.drop-down-text.active{
    z-index: 1;
    color: rgba(255,255,255,1);
    width: 50%;
    padding: 10px;
    transition: width 1500ms, color 100ms 900ms, padding 1000ms;
}


.head-bottom{
    background: black;
    left: 0;
    right: 0;
    height: 10vh;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.head-bottom h2{
    position: relative;
    margin-right: 90px;
    color: white;  
    font-size: 2rem;
}
.start-btn{
    display: flex;
    background: rgb(32, 116, 227);
    position: relative;
    height: 6.5vh;
    width: 8vw;
    border-radius: 1vh;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1rem;
    text-shadow: 2px 2px 2px black;
    transition: all 250ms;
}   
.start-btn:hover{
    background: rgb(110, 160, 224);
}

.home-info{
    width: 80%;
    margin-left: 10%;
    color:rgb(92, 92, 92);
    /* background: white; */
}

.home-info h1{
    color:rgb(92, 92, 92);
    padding-bottom: 1%;
    font-weight: bolder;
    font-size: 2rem;
}

.home-info h3{
    padding-top: 45px;
    padding-bottom: 1%;
}

.showcase{
    height: 1400px;
    width: 100%;
    
}

.community{
    background: rgb(240, 240, 245);
}

.clients-container{
    margin-top: 50px;
    /* height: 400px; */
    /* border: 2px solid red; */
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}

.panel{
    height: 250px;
    width: 400px;
    /* border: green 5px solid; */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    align-items: center;
}

.panel.ctb{
    background-color: rgb(235, 181, 181);
    border: rgb(117, 89, 63) 2px double;

}

.panel.mfbla{
    background-color: rgb(66, 66, 96);
    margin-top: 20px;
    border: rgb(144, 35, 35) double 2px;
}

.panel.bbm{
    background-color: rgb(117, 27, 27);
    margin-top: 40px;
    border: rgb(220, 220, 220) double 2px;
}

.clients-container img{
    position: relative;
    height: 150px;
    width: 150px;
    object-fit: cover;
    /* margin-top: 15px; */
    transform: translateZ(20px);
}

.panel .brand{
    width: 150px;
    height: 150px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateZ(20px);
}

.panel .brand h1{
    font-family: 'Crimson Text', serif;
    /* text-align: center; */
    color: rgb(174, 7, 7);
    font-size: 1.35rem;
}

.showcase h2, .wcia-container a{
    padding-top: 50px;
    font-size: 2rem;
    margin-left: 15%;
    padding-bottom: 20px;
    /* color: rgb(92, 92, 92); */
    color: var(--text-color);
}

.community-info{
    position: relative;
    /* color: rgb(92, 92, 92); */
    color: var(--text-color);
    width: 80%;
    /* border: 5px solid red; */
    margin-left: 10%;
    padding-bottom: 25px;;
}

.community-info p{
    margin-bottom: 45px;
}

.wcia-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: white; */
    margin-bottom: 15px;
}

.wcia-link{
    font-size: 1.5rem;
    font-weight: 1000;
    transition-duration: 500ms;
    
}

.wcia-link:hover{
    color: rgb(32, 116, 227);
}

.wcia-video{
    width: 75%;
    margin-left: 12.5%;
    height: 500px;
    /* border: 5px solid red; */
    object-fit: cover;
}

.scheduler{
    background-image: linear-gradient(90deg, 
    rgba(245,96,96,1),
    rgba(34,45,90,1), 
    rgb(70, 41, 87),
    rgba(245,96,96,1),
    rgba(34,45,90,1),  
    rgb(70, 41, 87));

    background-size: 200%;
    height: 100px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 500ms, background-position 1000ms;
    text-align: center;
}

.scheduler h4{
    font-size: 1.5rem;
}

.scheduler a{
    color: white;
    background-color: #222D5a;
    border-radius: 10px;
    padding: 7px;
    transition: all 500ms;
    /* border: black 5px solid; */
}

.scheduler:hover{
    background-position: right;
}

.scheduler a:hover{
    /* background-image: linear-gradient(90deg, rgba(34,45,90,1) 0%, rgba(245,96,96,1) 100%); */
    background-color: rgb(200, 65, 65);

}



@media screen and (max-width: 1200px){
    .clients-container .panel{
        width: 30vw;
    }


}

@media screen and (max-width: 815px){

    .main-text{
        margin-top: 150px;
        text-align: center;
        width: 95%;
        font-size: 2.5rem;
        padding: 0;
        margin-left: 0;
    }
    .main-text p{
        font-size: 1.5rem;
        margin-left: 0;
    }

    .typing::after{
        height: 25px;
    }

    .drop-down{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
        margin-top: 75px;
        width: 75%;
        margin-left: 12.5%;
        /* border: red solid 5px; */
    }

    .drop-down-btn{
        margin-top: 15px;
        margin-left: 0px;
        transform: rotate(0deg);
        transition: transform 1000ms 250ms, border-radius 500ms;
    }
    .drop-down-btn.active{
        margin-left: 0px;
        transition: transform 1200ms;
        transform: rotate(180deg);
    }
    .drop-down-text p{
        margin-top: 0px;
        font-size: 1.5rem;
    }
    .drop-down-text{
        margin-left: 0px;
        text-align: center;
        height: 0px; 
        width: 60%;
        transition: all 500ms 500ms, color 500ms, height 800ms 300ms, padding 1000ms;
    }
    .drop-down-text.active{
        width: 60%;
        height: 250px;
        padding: 10px;
        transition: height 1300ms, color 100ms 500ms, padding 1000ms;
    }

    .clients-container{
        flex-direction: column;
        align-items: center;
    }

    .clients-container .panel{
        width: 60vw;
    }

    .showcase{
        height: 2000px;
    }

    .wcia-video{
        width: 80%;
        margin-left: 10%;
        height: 300px;
    }
}

@media screen and (max-width: 650px){
    .drop-down-text p{
        /* margin-top: 0px; */
        font-size: 1.3rem;
    }

    .head-bottom h2{
        font-size: 1.25rem;
        margin-left: 10px;
    }

    .start-btn{
        height: 50px;
        width: 135px;
        border-radius: 1vh;
    }   

    .wcia-container{
        align-items: center;
    }

    .wcia-video{
        margin-left: 0;
        width: 90%;
    }



}

@media screen and (max-width: 415px){

    .top-container{
        height: 100vh;
    }
    
    .main-text{
        margin-top: 100px;
        margin-left: 0px;
        font-size: 1.75rem;

    }

    .main-text p{
        text-align: center;
        text-indent: 0px;
        font-size: 1.75rem;
    }

    .typing::after{
        height: 27px;
    }
    
    .drop-down{
        height: 300px;
        margin-top: 75px;
        width: 75%;
    }

    .drop-down-text{
        font-size: 1rem;
        transition: all 500ms 500ms, color 500ms, height 800ms 300ms, padding 1000ms;
    }

    .drop-down-text p{
        margin-top: 0px;
        font-size: 1rem;
    }

    .drop-down-text.active{
        width: 60%;
        height: 250px;
        padding: 10px;
        transition: height 1300ms, color 100ms 850ms, padding 1000ms;
    }

    .head-bottom{
        height: 10vh;
        
    }
    .head-bottom h2{
        color: white;  
        font-size: 1rem;
    }
    .start-btn{
        height: 60%;
        width: 20%;
        font-size: 0.75rem;
    }    

}


@media screen and (max-width: 355px){

    .main-text{
        margin-top: 80px;

    }

    .main-text h1{
        text-align: center;
        font-size: 1.75rem;
    }

    .main-text p{
        font-size: 0.75rem;
    }
}