* {
    margin: 0;
    left: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

nav .nav-links.index{
    text-decoration: none;
    color: var(--color-hover);
    border-bottom: var(--color-hover) 3px solid;
}

/* Content */
.top-container{
    background-image: url('./images/front-image-1400pxoptimized.jpg');
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x:hidden;
}
.caption-container{
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)); 
    position: absolute; 
    height: 100vh;
    width: 85vh;
    bottom: 0;
    left: 60%;
    
}
.top-container h1{
    margin: 10px;
    color: white;
    text-indent: 2px;
    position: absolute;
    width: 88%;
    height: 40%;
    text-align: center;
    padding-top: 10px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}
.head-bottom{
    background: black;
    left: 0;
    right: 0;
    height: 10vh;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.head-bottom h2{
    position: relative;
    margin-right: 90px;
    color: white;  
    font-size: 2rem;
}
.start-btn{
    display: flex;
    background: rgb(32, 116, 227);
    position: relative;
    height: 6.5vh;
    width: 8vw;
    border-radius: 1vh;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1rem;
    text-shadow: 2px 2px 2px black;
    transition: all 250ms;
}   
.start-btn:hover{
    background: rgb(110, 160, 224);
}

.home-info{
    background: rgb(218, 218, 218);
    width: 80%;
    margin-left: 10%;
}

.home-info h1{
    color:rgb(92, 92, 92);
    font-size: 4rem;
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom: 2%;
    font-weight: bolder;
}

@media screen and (max-width: 1248px){
    .caption-container{
        width: 65vh;
    }

}

@media screen and (max-width: 1024px){
    .caption-container{
        width: 55vh;
    }
}

@media screen and (max-width: 800px){
    .caption-container{
        height: 50vh;
        width: 100%;
        left: 0;
        text-align: center;
    }
    .head-bottom .start-btn{
        font-size: 1.5vh;
    }
}

@media screen and (max-width: 600px){

    .head-bottom h2{
        margin-left: 10%;
        font-size: 1rem;
    }
    .head-bottom .start-btn{
        margin-right: 5%;
        width: 20vw;
    }
    .caption-container h1{
        margin-left: 8%;
    }
}

@media screen and (max-width: 376px){
    .head-bottom .start-btn{
        width: 40vw;
    }
}