*{
    margin: 0;
    left: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

nav .nav-links.portfolio{
    text-decoration: none;
    color: var(--color-hover);
    border-bottom: var(--color-hover) 3px solid;
}

.pics-container{
    text-align: center;
    padding-bottom: 5vh;
    border: white 5px solid;
}
.pics-container h2{
    font-size: 2rem;
}
.pics-container.c1{
    background:rgb(167, 197, 255);
}
.pics-container.c2{
    background: rgb(255, 128, 128);
}
.site-images{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}

.portfolio-images img{
    width: 30%;
    border: white 1px solid;
}

@media screen and (max-width: 415px){
    .site-images{
        flex-direction: column;
    }
    .portfolio-images img{
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .pics-container h2{
        font-size: 1.5rem;
        padding-bottom: 2vh;
        padding-top: 2vh;
    }

}